In [11]:
import pandas as pd
import pymssql

In [12]:
import sqlalchemy

connection_string = 'mssql+pymssql://@localhost:1434/master'
engine = sqlalchemy.create_engine(connection_string)

In [13]:
df=pd.read_csv('insurance.csv')

In [14]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
df.to_sql('Insurance',engine,if_exists='append',index=False)

142

In [26]:
import pymssql

# Replace with your server and database details
server = 'localhost'  # or 'localhost,1433' if using a specific port
database = 'master'

try:
    conn = pymssql.connect(server=server, database=database,port='1434')
    print("Connection successful!")
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!